.active{
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
}

nav ul li{
	text-transform: uppercase;
}

.centered{
	width:500px;
	margin:auto;
	padding:10px;
	background-color:#eee;
}

.num{
	font-size: 500%;
	font-family: HelveticaNeue-UltraLight,"Helvetica Neue",HelveticaNeue-Light,HelveticaNeue,helvetica,arial,sans-serif;
	font-weight: bold; 
}
.deg{
	font-size: 500%;
}
.centered-img{
	width:100px;
	margin:auto;
	padding:5px;
}

.left{
	width:100px;
	margin:auto;
	padding:15px;
	background-color:#eee;
}