<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href>Ember Reddit</a>
    </div>
    <ul class="nav navbar-nav">
      {{#each}}
        <li>{{#link-to 'subreddit' this}} {{this}} {{/link-to}}</li>
      {{/each}}
    </ul>
  <ul class="nav navbar-right">
    {{#if session.isAuthenticated}}
      <a href="#">Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  </ul>
  </div>
</nav>

<div>
  <span>
    {{#link-to 'advise'}}Advise{{/link-to}}
  </span>

  <span>
    {{#link-to 'weather'}}Weather{{/link-to}}
  </span>

  <span>
    {{#link-to 'repositories'}}Query Params{{/link-to}}
  </span>
</div>

{{outlet}}
