<form {{action "search" on="submit"}}>
  {{input value=queryField}}
  <button>Search</button>
</form>
    
{{#if type}}
  <p>Displaying results for "{{type}}"</p>
  <ul>
    {{#each}}
      <li>{{name}}</li>
    {{/each}}     
  </ul>
{{/if}}
